.btn1{
    width: 300px;
    height: 300px;
    margin: 20px;
}
.pic1, .pic2, .pic3, .pic4{
    width: 70%;
    height: 70%;
}

#body1, #body2, #body3, #body4, #body5{
    text-align: center;
}

.btn2{
    height: 100px;
    width: 100px;
    margin: 30px;
    border-radius: 50px;
}

#animal_pic, #fruits_pic, #toys_pic, #colors_pic{
    height: 300px;
    width: 300px;
}

.btn3{
    height: 100px;
    width: 100px;
    margin: 30px;
    border-radius: 50px;
}

.btn4{
    height: 100px;
    width: 100px;
    margin: 30px;
    border-radius: 50px;
}

.btn5{
    height: 30px;
    align-self: first baseline;
}
